<div class='container'>
  <div class='row' id='controls'>
    <a class="waves-effect waves-teal btn-flat" id='temp'>Temp</a>
    <a class="waves-effect waves-teal btn-flat" id='dewpoint'>Dewpont</a>
    <a class="waves-effect waves-teal btn-flat" id='wind'>Wind</a>
    <a class="waves-effect waves-teal btn-flat" id='humidity'>Humidity</a>
    <a class="waves-effect waves-teal btn-flat" id='feelslike'>Feels Like</a>
    <a class="waves-effect waves-teal btn-flat" id='pressure'>Pressure</a>
  </div>
  <div class='row'>
    <div class='center-align' id='time'>12:00</div>
  </div>
  <div id='map'></div>
  <div id='scale' class='row'></div>
</div>